* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: peachpuff;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

h2 {
    color:brown;
    border-color: black;
    text-align: center;
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

h1 {
    text-align: center;
}

.main-counter{
    width: 50%;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.counter {
    display: flex;
    flex-flow:column nowrap;
    justify-content: top;
    align-items: center;
    padding: 1rem;;
}

.coins {
    width: 100%;
    border: 1px solid black;
    position: relative;
    margin: 50px auto;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    transform-origin: 50% 50%;

}

#head-coin, #tail-coin {
    position: absolute;
    margin-top: 20%;
    margin-left: 5%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transform-origin: 50% 50%;
    visibility: visible;
}

#tail-coin{
    transform: rotateY(180deg);
}
.flip-coin-head{
    animation-name: flip-coin-head;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
}

@keyframes flip-coin-head{
    0%{
        transform: translateX(0) translateY(0) rotateY(0deg);
    }
    100%{
        transform: translateX(0) translateY(0) rotateY(2700deg);
    }  
}
.flip-coin-tail{
    animation-name: flip-coin-tail;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
}

@keyframes flip-coin-tail{
    0%{
        transform: translateX(0) translateY(0) rotateY(0deg);
    }
    100%{
        transform:translateX(0) translateY(0) rotateY(2520deg);
    }  
}
 



